{{ with .Site.Params.googleapikey }}
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{.}}"
  type="text/javascript"></script>
{{ end }}
{{ if eq .Params.layout "contact" }}
<script src="/js/main-with-ui.min.js"></script>
{{ else }}
<script src="/js/main.min.js"></script>
{{ end }}
<script id="mfn-dnmc-retina-js">
    jQuery(window).load(function() {
        var retina = window.devicePixelRatio > 1 ? true : false;
        if (retina) {
            var retinaEl = jQuery("#logo img.logo-main");
            var retinaLogoW = retinaEl.width();
            var retinaLogoH = retinaEl.height();
            retinaEl.attr("src", "/img/logo-white-tiny-house.png").width(retinaLogoW).height(retinaLogoH);
            var stickyEl = jQuery("#logo img.logo-sticky");
            var stickyLogoW = stickyEl.width();
            var stickyLogoH = stickyEl.height();
            stickyEl.attr("src", "/img/logo-white-tiny-house.png").width(stickyLogoW).height(stickyLogoH);
            var mobileEl = jQuery("#logo img.logo-mobile");
            var mobileLogoW = mobileEl.width();
            var mobileLogoH = mobileEl.height();
            mobileEl.attr("src", "/img/logo-white-tiny-house.png").width(mobileLogoW).height(mobileLogoH);
        }
    });
</script>
