<!DOCTYPE html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US">  <!--<![endif]-->
    {{- partial "site-head.html" . -}}
    <body>

        {{ `<!--[if lt IE 9]>
        <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
    <![endif]-->` | safeHTML }}
        {{- partial "header/google-tag-manager.html" . -}}

        <!-- <div id="preloader">
            <div id="loading-animation">&nbsp;</div>
        </div> -->

        <header class="site-header">
            <nav id="navigation" class="navigation site-nav navbar">
                <div class="navbar-header onstart animated" data-animation="fadeInDown" data-animation-delay="1200">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false" aria-controls="navbar">
                        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ $.Site.BaseURL }}">
                        <!-- Logo -->
                        <img src="/img/logo-comptoir-monsieur-emile.png" alt="Comptoir Monsieur Emile" style="max-height: 100%; width: auto"/>
                    </a>
                </div>
                <div id="main-nav" class="navbar-collapse collapse">
                    <ul id="menu" class="nav navbar-nav navbar-right onstart animated" data-animation="fadeInDown" data-animation-delay="800">
                        <li class="active" data-menuanchor="firstPage"><a href="#firstPage" class="active">Accueil</a></li>
                        <li data-menuanchor="secondPage"><a href="#secondPage">À propos</a></li>
                        <li data-menuanchor="3rdPage"><a href="#3rdPage">Réserver</a></li>
                        <li data-menuanchor="4thPage"><a href="#4thPage">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div id="fullpage">
                            
            <!-- Home Section -->
            <div class="section home active parallax-background image-1" id="section0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <!-- Slide Content -->
                            <div class="slide-content">
                                <div class="flexslider textslider onstart animated" data-animation="fadeInUp" data-animation-delay="800">
                                    <ul class="slides">
                                        <li>
                                            <h1 class="rotate uppercase">Bistro <span class="font-normal">gastronomique<br>au coeur</span> de Percé</h1>
                                        </li>
                                    </ul>
                                </div>
                                <p class="lead onstart animated" data-animation="fadeInUp" data-animation-delay="1000">Site web en construction</p>
                                <a href="https://widgets.libroreserve.com/WEB/QC015196556127/book" class="border-button bt-border-white go-slide onstart animated" data-animation="fadeInUp" data-animation-delay="1200" data-slide="2" target="_blank">Réserver</a>
                                <a data-menuanchor="secondPage" href="#secondPage" class="default-button bt-transparent go-slide onstart animated" data-animation="fadeInUp" data-animation-delay="1200" data-slide="2">En savoir plus <i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Overlay -->
                <div class="overlay">
                    <div class="gradient-overlay background-blue-dark opacity-40"></div>
                </div>
            </div>

            <!-- Subscribe Section -->
            <div class="section parallax-background image-2" id="section1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="section-header">
                                <!-- Section Title -->
                                <h2 class="section-title animated" data-animation="fadeInUp">À propos</h2><!-- END TITLE -->
                                <div class="line-separate line-white line-center animated" data-animation="fadeInUp" data-animation-delay="200"><span></span></div>
                            </div>  
                            <!-- Slide Content -->
                            <div class="slide-content animated" data-animation="fadeInUp" data-animation-delay="400">
                                <p>Le Comptoir Monsieur Émile (Fumoir Monsieur Émile) est un nouveau restaurant de type « bistro gastronomique » établi au cœur de Percé, en Gaspésie. On y déguste les plats uniques du Chef Sven Jaeckel, concoctés avec des produits locaux et régionaux dans un environnement d’une grande beauté, en plus de profiter d'une ambiance agréable et décontractée. </p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="features-list">
                                            
                                            <div class="feature-item">
                                                <div class="feature-icon">
                                                    <i class="icon ion-ios-restaurant"></i>
                                                </div>
                                                <div class="feature-text">
                                                    <h3>Nos coordonnées</h3>
                                                    <p>Le Comptoir Monsieur Émile est situé au 16 rue Biard à Percé, Québec, G0C 2L0. Vous pouvez nous rejoindre par téléphone au <span class="hidden-xs">418-782-5428</span><a href="tel:+14187825428" class="visible-xs" style="color: white; text-decoration: underline;">418-782-5428</a>.</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="features-list">
                                    
                                            <div class="feature-item">
                                                <div class="feature-icon">
                                                    <i class="icon ion-ios-clock"></i>
                                                </div>
                                                <div class="feature-text">
                                                    <h3>Heures d'ouverture</h3>
                                                    <p>Nous sommes ouverts de 11:30 AM à 10:00 PM tous les jours</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Overlay -->
                <div class="overlay">
                    <div class="gradient-overlay background-blue-dark opacity-70"></div>
                </div>
            </div>
            
            <!-- About Section -->
            <div class="section parallax-background image-3" id="section2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="section-header color-white">
                                <!-- Section Title -->
                                <h2 class="section-title animated" data-animation="fadeInUp">Réservation en ligne</h2><!-- END TITLE -->
                                <div class="line-separate line-white line-center animated" data-animation="fadeInUp" data-animation-delay="200"><span></span></div>
                            </div>  
                            <!-- Slide Content -->
                            <div class="slide-content">
                                <p class="animated" data-animation="fadeInUp" data-animation-delay="200">Utilisez notre outil de réservation en ligne pour découvrir nos disponibilités et réserver d'avance votre table. Nous recommandons de réserver au moins 1 semaine à l'avance.</p>
                                <!-- Subscribe Form -->
                                <div class="form animated" data-animation="fadeInUp" data-animation-delay="400">
                                    <div class="form-container">
                                        <div class="page-section" id="signup">
                                            <a href="https://widgets.libroreserve.com/WEB/QC015196556127/book" class="border-button bt-border-white go-slide onstart animated" data-animation="fadeInUp" data-animation-delay="1200" target="_blank">Réserver</a>
                                        </div><!--end page section -->
                                    </div><!-- end form container -->
                                </div><!-- end Subscribe Form -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Overlay -->
                <div class="overlay">
                    <div class="gradient-overlay background-blue-dark opacity-70"></div>
                </div>
            </div>
            
            <!-- Features Section -->
            <div class="section parallax-background image-4" id="section3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="section-header">
                                <!-- Section Title -->
                                <h2 class="section-title animated" data-animation="fadeInUp">Avez-vous une question?</h2><!-- END TITLE -->
                                <div class="line-separate line-white line-center animated" data-animation="fadeInUp" data-animation-delay="200"><span></span></div>
                            </div>  
                            <!-- Slide Content -->
                            <div class="slide-content">
                                <p class="animated" data-animation="fadeInUp" data-animation-delay="400">Notre équipe se fera un plaisir de vous aider à réserver ou bien à trouver le restaurant.</p>
                                <div class="contact-form animated" data-animation="fadeInUp" data-animation-delay="600">
                                    <form class="mb-0" id="cf" name="formulaire-contact" action="/merci" method="post" netlify>
                                        <div class="row">

                                            <div class="form-process"></div>

                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" id="cf-name" name="cf-name" placeholder="Nom" class="required">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <input type="email" id="cf-email" name="cf-email" placeholder="Courriel" class="required">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <input type="text" id="cf-subject" name="cf-subject" placeholder="Sujet (optionnel)" class="light">
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-20">
                                                <div class="form-group">
                                                    <textarea name="cf-message" id="cf-message" placeholder="Message" class="required" rows="3"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12 hidden">
                                                <input type="text" id="cf-botcheck" name="cf-botcheck" value="" />
                                            </div>
                                            <div class="col-md-12 text-center">
                                                <button class="border-button" type="submit" id="cf-submit" name="cf-submit">Envoyer un message</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="response-message contact-form-result text-center pt-10"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Overlay -->
                <div class="overlay">
                    <div class="gradient-overlay background-blue-dark opacity-70"></div>
                </div>
            </div>  
                
        </div>

        <nav class="socials-icons">
            <ul>
                <li class="onstart animated" data-animation="fadeInRightBig" data-animation-delay="800"><a href="https://www.facebook.com/ComptoirMonsieurEmile/" target="_blank"><i class="icon ion-logo-facebook"></i></a></li>
                <li class="onstart animated" data-animation="fadeInRightBig" data-animation-delay="950"><a href="#4thPage" data-slide="4"><i class="icon ion-ios-mail"></i></a></li>
                <li class="onstart animated" data-animation="fadeInRightBig" data-animation-delay="1100" data-menuanchor="4thPage"><a href="https://widgets.libroreserve.com/WEB/QC015196556127/book" target="_blank"><i class="icon ion-ios-restaurant"></i></a></li>
            </ul> 
        </nav>

        <footer class="site-footer onstart animated" data-animation="fadeInUp" data-animation-delay="800">
            <p class="copyright">© 2018 Comptoir Monsieur Émile - Tous droits réservés</p>
        </footer>

        <div class="viewport-border">
            <div class="vb-l"></div>
            <div class="vb-r"></div>
            <div class="vb-t"></div>
            <div class="vb-b"></div>
        </div>
        
        <!-- JS -->
        <script type="text/javascript" src="/js/main.min.js"></script>
        
    </body>
</html>